@use "@material/elevation";

:host {
  display: block;
  margin: 16px;
  @include elevation.elevation(2);
  background-color: #FFF;
  padding: 10px;
  border-radius: 4px;
}

@media (max-width: 600px) {
  :host {
    margin: 16px 8px;
  }
}

.title {
  margin-top: 0;
}
